<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pageTitle">Weather Forecast Charts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            background-color: #f0f2f5;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-top: 80px; /* Adjust this value based on the height of your fixed navbar */
        }
    
        .container {
            max-width: 1200px; /* Set a max-width for better control on larger screens */
            margin: 0 auto; /* Center the container horizontally */
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            animation: fadeIn 1s ease-out;
        }
    
        .chart-container {
            background-color: #f9f9f9;
            border-radius: 8px;
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
            margin-top: 20px;
            padding: 20px;
            animation: scaleIn .5s ease-in-out;
        }
    
        #cityInput {
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            animation: slideInFromLeft 1s ease-out;
        }
    
        .btn-primary {
            width: 100%;
            margin-top: 20px;
        }
    
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
    
        @keyframes scaleIn {
            from { transform: scale(0.95); opacity: 0; }
            to { transform: scale(1); opacity: 1; }
        }
    
        @keyframes slideInFromLeft {
            0% { transform: translateX(-100%); }
            100% { transform: translateX(0); }
        }
    </style>
    
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/weather" id="navbarBrand">Weather App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/weather" id="mainPageLink">Main Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history" id="historyLink">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about" id="aboutLink">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/charts" id="chartsLink">Charts</a>
                    </li>
                </ul>


                <div class="d-flex align-items-center">
                    <span class="navbar-text text-white mr-5">
                        <div id="userInfo" class="d-flex align-items-center">
                            <% if (username) { %>
                                <p><i class="fas fa-user me-2"></i><%= username %></p>
                            <% } else { %>
                                <p class="welcomeMessage"><i class="fas fa-user me-2"></i>Welcome</p>
                            <% } %>
                        </div>
                    </span>
                    
                    
                    <div class="language-selector">
                        <select id="languageSelect" onchange="changeLanguage()">
                          <option value="en">English</option>
                          <option value="ru">Русский</option>
                        </select>
                      </div>
                    </div>


                    <form action="/signout" method="post" style="height: 58px;">
                        <button type="submit" class="btn btn-danger ml-3" id="signOutButton">Sign Out</button>

                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="text-center mb-4">
            <input type="text" id="cityInput" class="form-control" placeholder="Enter City Name">
            <button class="btn btn-primary mt-3" onclick="renderCharts()" id="getChartsButton">Get Charts</button>
        </div>

        <div class="chart-container mt-4">
            <h2 id="temperatureForecastTitle">Temperature Forecast</h2>
            <canvas id="temperatureChart"></canvas>
        </div>

        <div class="chart-container mt-4">
            <h2 id="windSpeedForecastTitle">Wind Speed Forecast</h2>
            <canvas id="windSpeedChart"></canvas>
        </div>

        <div class="chart-container mt-4">
            <h2 id="humidityForecastTitle">Humidity Forecast</h2>
            <canvas id="humidityChart"></canvas>
        </div>
    </div>

    <script src="js/charts.js"></script>
</body>
</html>
