<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="css/styles.css" />

    <style>
      body {
        background-color: #f0f2f5;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      .hidden {
        display: none;
      }
      .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    </style>
  </head>
  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand applicationName" href="/weather"></a>

        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a
                class="nav-link active mainPage"
                aria-current="page"
                href="/weather"
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link history" href="/history"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link about" href="/about"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link charts" href="/charts"></a>
            </li>
          </ul>

          <div class="d-flex align-items-center">
            <span class="navbar-text text-white mr-5">
              <div id="userInfo" class="d-flex align-items-center">
                <% if (username) { %>
                <p><i class="fas fa-user me-2"></i><%= username %></p>
                <% } else { %>
                <p class="welcomeMessage">
                  <i class="fas fa-user me-2"></i>Welcome
                </p>
                <% } %>
              </div>
            </span>

            <div class="language-selector">
              <select id="languageSelect" onchange="changeLanguage()">
                <option value="en">English</option>
                <option value="ru">Русский</option>
              </select>
            </div>
          </div>

          <form action="/signout" method="post" style="height: 58px">
            <button type="submit" class="btn btn-danger ml-3 signOut"></button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container mt-5 pt-5">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h1 class="text-center mb-4" id="weatherAppTitle"></h1>
          <label for="cityInput" id="enterCityLabel"></label>
          <div class="input-group mb-3">
            <input
              type="text"
              id="cityInput"
              class="form-control"
              placeholder=""
              aria-label=""
              aria-describedby="button-addon2"
            />
            <div class="input-group-append">
              <button
                class="btn btn-primary"
                type="button"
                id="button-addon2"
                onclick="getWeather()"
              ></button>
            </div>
          </div>

          <div
            id="currentWeatherResult"
            class="card flex-fill"
            style="height: 50%"
          >
            <div class="card-body d-flex flex-column">
              <h5 class="card-title" id="currentWeatherTitle"></h5>
              <hr />
              <div id="currentWeatherContent" class="row flex-fill"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <h1 class="text-center mb-1" id="weatherForecastTitle"></h1>
          <div id="map" class="mb-4"></div>
        </div>
      </div>
    </div>

    <h2
      class="mt-4 hidden"
      style="text-align: center"
      id="weatherLastThreeHoursTitle"
    ></h2>
    <div
      id="weatherResult"
      class="mt-4 row hidden"
      style="align-items: center"
    ></div>

    <section id="extendedForecast" class="mt-4 hidden">
      <h2
        class="mb-3"
        style="text-align: center"
        id="extendedForecastFiveDaysTitle"
      ></h2>
      <div id="forecastList" class="list-group"></div>
    </section>

    <section id="extendedForecast14Days" class="mt-4 hidden">
      <h2
        class="mb-3"
        style="text-align: center"
        id="extendedForecastFourteenDaysTitle"
      ></h2>
      <div id="extendedForecastList" class="list-group"></div>
    </section>

    <h2 class="mt-4 hidden" style="text-align: center" id="cityInfoTitle"></h2>
    <div id="cityInfoResult" class="mt-4 hidden"></div>

    <script src="js/map.js"></script>
    <script src="js/weather.js"></script>
    <script src="js/language.js"></script>
  </body>
</html>
