body {
    background-color: #f0f2f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn-group .btn {
    margin-right: 5px; 
}

.btn-group .btn:last-child {
    margin-right: 0;
}